
<div class="row">
  <div class="col-sm-3">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a routerLink="/game">Game</a></li>
      <li role="presentation"><a routerLink="/about">About</a></li>
    </ul>

      </div>
  <div class="col-sm-9">
       <button id="loginBtn" (click)="submitLogin($event);">Login with facebook</button>
       <button class="" (click)="logout();" id="logoutBtn" style="display:none">Logout</button>
       <div id="status">

       </div>
    <h1>
      {{title}}
    </h1>
    <div *ngIf="loginStatus then router else nothing">

    </div>
       <ng-template #router>
         <router-outlet></router-outlet>
       </ng-template>
       <ng-template #nothing>
       </ng-template>
  </div>
</div>  

